hr {
	margin-bottom: 50px;
}
.TITRE{
	text-align: center;
	
	padding: 15px;
}
.formPanel {
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto 30px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.PanelTitre{
	text-align: center;
}


li{
	list-style-type: none;
}